h1, h3, p {
    text-align: center;
}

.filter-btn {
    text-align: center;
    display: block;
    margin: 10px auto;
    background-color: #3A7D44;
    color: white;
    border: none;
}

#tagFilterBox {
    display: none; /* Default hidden */
    position: absolute; /* Prevent layout shifts */
    background: white;
    padding: 10px;
    border: 1px solid black;
    z-index: 1000; /* Ensure it's on top */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    margin-top: 5px; /* Small gap from the button */
}

button {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.game-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
}

.column {
    flex: 1;
    text-align: center;
}

.match-btn {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.match-btn.selected {
    background-color: #9DC08B; /* Updated selected color */
}

.match-btn.correct {
    background-color: grey !important; /* Grey background */
    color: white;
    pointer-events: none; /* Make it unclickable */
    opacity: 0.6; /* Slightly faded */
}


.match-btn.wrong {
    animation: flashRed 0.5s;
}

@keyframes flashRed {
    0% { background-color: red; }
    50% { background-color: white; }  /* Flash effect */
    100% { background-color: white; } /* Reset to original color */
}

.home-container {
    text-align: center;  /* Centers the button */
    margin-top: 40px;    /* Adds space between game and button */
}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9DC08B; /* Matches selected color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-btn:hover {
    background-color: #7A9B74; /* Slightly darker on hover */
}

form {
    text-align: center;
}

.main-btn {
    background-color: #3A7D44;
    margin: 3px;
    text-align: center;
}

.main-btn:hover     {
    background-color: #2E5E33;
}

/*Quiz*/

.quiz-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 0;
    text-align: center;
    flex-direction: column;
}