button {
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 8px;
}

/* Search, Save, and Games buttons */
.main-btn {
    background-color: #3A7D44;
    margin: 3px;
}

.main-btn:hover     {
    background-color: #2E5E33;
}

.tag.selected, .tag-btn.selected {
    background-color: #4CAF50; /* Green highlight */
    color: white;
}

#clearFilters {
    display: none;
    padding: 5px 10px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Tag, Edit, and Delete buttons */
.tag,.tag-btn,.edit-btn,.delete-btn {
    background-color: #9DC08B;
    padding: 3px 8px;
}

.tag-btn:hover, .edit-btn:hover, .delete-btn:hover {
    background-color: #7FA46F;
}

.delete-btn:hover {
    background-color: red;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
}

.center-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 100%; /* Makes sure it spans the full width */
    height: 8vh; /* Adjust height as needed */
}

.word-container {
    display: flex;  /* Arrange the lists in a row */
    justify-content: space-between;  /* Even spacing */
    gap: 20px;
}

.word-list {
    width: 50%;  /* Each column takes half the space */
    list-style-type: none;
    padding: 0;
}

.word-item {
    background: #f8f8f8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination a {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #000;
    text-decoration: none;
}
.pagination .active {
    font-weight: bold;
    background: #ddd;
}