<!DOCTYPE html>
<html>
<head>
    <title>Matching Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>
    <h1>Select the Matching Pairs!</h1>
    <p>Click on a meaning and then the correct word.</p>

    <button class="filter-btn" id="filterButton" type="button">Filter by Tag</button>
    <div id="tagFilterBox" style="display: none;">
        <form method="GET">
            <table>
                <tr>
                    {% for tag in tags %}
                        {% if loop.index0 % 2 == 0 %} <!-- Start a new row every 2 items -->
                            </tr><tr>
                        {% endif %}
                        <td>
                            <input type="checkbox" name="tags" value="{{ tag }}"
                                {% if tag in selected_tag %}checked{% endif %}>
                            {{ tag }}
                        </td>
                    {% endfor %}
                </tr>
            </table>
            <button class="filter-btn" type="submit">Apply Filters</button>
        </form>
    </div>

    <div class="game-container">
        <!-- Meanings Column -->
        <div class="column">
            <h2>Meanings</h2>
            <div id="meanings">
                {% for meaning in meanings %}
                    <button class="match-btn" data-type="meaning" data-value="{{ meaning }}">{{ meaning }}</button>
                {% endfor %}
            </div>
        </div>

        <!-- Words Column -->
        <div class="column">
            <h2>Words</h2>
            <div id="words">
                {% for word in words %}
                    <button class="match-btn" data-type="word" data-value="{{ word_dict[word] }}">{{ word }}</button>
                {% endfor %}
            </div>
        </div>
    </div>

    <h3 id="score">Score: 0</h3>
    <h3 id="highScore">High Score: 0</h3>

    <!-- Home Button at Bottom -->
    <div class="home-container">
        <a href="/" class="home-btn">Home</a>
    </div>

    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
